snack-bar-container.success-snackbar {
  background-color: #28a745;
  color: #fff;
}

snack-bar-container.error-snackbar {
  background-color: #dc3545;
  color: #fff;
}

snack-bar-container.info-snackbar {
  background-color: #17a2b8;
  color: #fff;
}

snack-bar-container.dark-snackbar {
  background-color: #343a40;
  color: #fff;
}
